
.circulo{
    
    width: 20px;
    height: 20px;
    border-radius: 100%;
}
.card-stock-titulo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.card-stock-titulo{
    padding: 5px;
    border-radius: 10px;
    border: solid 2px;
    text-align: center;
}
/*-------------------------------------------------------*/
/* Stylos a las img de los formularios de productos */
.contImagenesProd{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.imgCont{
    display: flex;
    width: 300px;
    width: 302px;
    flex-wrap: wrap;
    align-items: center;
    margin: 5px;
    padding: 5px;
}

.prodImg{
    width: 150px;
}

.imgContainer {
    position: relative;
    display: inline-block;
    width: 150px;
}

.btnBorrImg {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    color: red;
    font-weight: bold;
    cursor: pointer;
    padding: 4px;
    font-size: 16px;
    background: black;
    width: 25px;
}
/*-------------------------------------------------------*/

/* Stylos al detail de la creacion del producto */
.gallery {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Espacio entre las imágenes */
}

.gallery-item {
    flex: 1 1 200px; /* Ajusta el tamaño de cada imagen según sea necesario */
}

.gallery-image {
    width: 100%;
    height: auto;
    display: block;
}
.producto-card-opciones-cont{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.producto-bloke-color{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.card-text-desc{
    text-align: center;
}
.detail-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.detail-title-volver{
    border: solid 1px;
    border-radius: 15px;
    background-color: cadetblue;
    color: white;
    font-weight: bolder;
    width: 100px;
    text-align: center;

}
/*-------------------------------------------------------*/

/* Estilos del Home page*/
.banner {
    background-color: #f8f8f8;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.banner-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.banner-content {
    margin-left: 20px; /* Ajusta el margen interior para el contenido */
}

.banner-text {
    color: #555;
    font-size: 16px;
    margin-bottom: 10px;
}

.banner-list {
    list-style-type: square;
    margin-left: 20px;
}

.banner-list li {
    color: #555;
    font-size: 14px;
    margin-bottom: 5px;
}

/*-------------------------------------------------------*/
/* Estilos del la pag de productos*/


.all-cards-titulo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.all-card-boton-borrado{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.all-cards-accesos{
    display: flex;
    text-align: center;
}

/*-------------------------------------------------------*/
/* Estilos del la pag de edit img productos*/

.form-agregar-img{
    border: solid black 2px;
    border-radius: 20px;
    width: 400px;
    align-items: center;
    background-color: #555;
    color: bisque;
    font-weight: bolder;
    height: 45px;
    padding-top: 5px;
    justify-content: center;
}
.contImagenesProd{
    align-items: center;
    justify-content: center;
}


/*-------------------------------------------------------*/
/* Estilos del la pag de edit img productos*/

.boton-bordes{
    border-radius: 15px;
    border: solid black 2px;
}
.cont-stock-selectores{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    appearance: none; /* Oculta el estilo predeterminado del navegador */
    background-color: #fff;
    text-align: center;
  }
  
  /* Estilo para el ícono de la flecha */
  select:after {
    content: '\25BC'; /* Código unicode para la flecha hacia abajo */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
  
  /* Estilo para el contenedor del select */
  .select-container {
    position: relative;
    width: 200px;
  }
  
  /* Estilo para el borde alrededor del select */
  .select-container::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 2px solid #3498db;
    border-radius: 5px;
    pointer-events: none; /* Evita que el borde reciba eventos del ratón */
  }
  .input-stock{
    width: 3rem;
    text-align: center;
  }
  .cont-grup-tallas{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 250px;
    margin-bottom: 15px;
  }
  .cont-tallas-ordena{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /*-------------------------------------------------------*/
/* Edit datos de los productos*/

.cont-editProd-datos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}
.ingreso-datos{
    text-align: center;
}
.cont-edit-marca{
    display: flex;
    flex-direction: column;
}
.edit-descrip{
    text-align: center;
}
.cont-prec-desc{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}
.input-prec-ofer{
    text-align: center;
    width: 5rem;
    align-items: center;
}
.contenedor-resto{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}



.items-form-crear{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.cont-stock-meDuermo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 5px;
}
.input-Stock{
    width: 5rem;
    text-align: center;
}
.botton-bordes{
    border-radius: 80%;
    text-align: center;
    align-items: center;
    margin-bottom: 5px;
}